BOT_TOKEN=8790037754:AAHhEIeJu5j1bTj-WYTErQ-HJy8sm8T6Fcg

DATABASE_URL=postgresql+psycopg2://virangar:CHANGE_ME@localhost:5432/virangarvpn

SUPER_ADMIN_ID=691651240

BOT_USERNAME=Virangarvpn 

LOG_LEVEL=INFO
